html {
    background-color: black;
}

div {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    }
h1 {
    text-transform: uppercase;
    }

p {
    font-size: 0.7em;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  